<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="{{ '/assets/css/main.css' | getPath }}" rel="stylesheet">
  <script defer src="{{ '/assets/js/main.js' | getPath }}"></script>
  <title>{{ title }} undefined undefined</title>
  <meta name="description" content="{{ description }}">
  <link rel="icon" href="/undefined">
</head>