---

thumbnail: /assets/images/other/thumbnail.png
type: website
description: A great description for my super website.
robots: index, follow

---
{% from "node_modules/@id-sk/frontend/idsk/components/header-extended/macro.njk" import idskHeaderExtended %}

<!doctype html>
<html lang="en">

  {% include 'head.njk' %}

  <body>
    {{ idskHeaderExtended({
      "classes": "idsk-header-extended--shrink"
    }) }}

    {{ content | safe }}

  </body>

</html>
